<link rel="stylesheet" href="/css/addProduct.css">

<div class="addProductDivPrincipal">
    <div class="formAddProduct">
        <h1>Agrega Un Producto</h1>
        <form action="/products/add" method="post">
            <div class="inputAdd">
                <input type="text" id="modelo" name="modelo" placeholder="Nombre Del Modelo">
            </div>
            <div class="inputAdd">
                <input type="text" id="marca" name="marca" placeholder="Marca">
            </div>
            <div class="inputAdd">
                <input type="number" id="precioPublico" name="precioPublico" placeholder="Precio Publico">
            </div>
            <div class="inputAdd">
                <input type="number" id="precioTienda" name="precioTienda" placeholder="Precio Tienda">
            </div>
            <div class="inputAdd">
                <input type="number" id="unidades" name="unidades" placeholder="Unidades Disponibles">
            </div>
            <div class="inputAdd">
                <input type="text" id="foto" name="foto" placeholder="Foto">
            </div>
            <button type="submit">Agregar Producto</button>
            

        </form>
    </div>
    <div class="imageAndMessage">

    </div>
</div>