<link rel="stylesheet" href="/css/addProduct.css">
<body id="formProduct">

    <div class="addProductDivPrincipal">
        <div class="formAddProduct">

            <h1>Agrega Un Producto</h1>

            <form class="inputForm" action="/products/add" method="post">

                <div class="inputAdd">
                    <input type="text" id="modelo" name="modelo" placeholder="Nombre Del Modelo" required>
                    <span class="line"></span>
                </div>

                <div class="inputAdd">
                    <select class="marcaInput" name="marca" id="marca" required>
                        {{#each proveedores}}
                        <option>{{nombreProveedor}}</option>
                        {{/each}}
                    </select>
                    <span class="line"></span>
                </div>
                
                <div class="inputAdd">
                    <select class="instrumentoTipo" name="instrumentoTipo" id="instrumentoTipo" required>
                        <option>Guitarra</option>
                        <option>Piano</option>
                        <option>Bateria</option>
                        <option>Violin</option>
                    </select>
                    <span class="line"></span>
                </div>

                <div class="inputAdd">
                    <input type="number" id="precioPublico" name="precioPublico" placeholder="Precio Publico" required min="0">
                    <span class="line"></span>
                </div>

                <div class="inputAdd">
                    <input type="number" id="precioTienda" name="precioTienda" placeholder="Precio Tienda" required min="0">
                    <span class="line"></span>
                </div>

                <div class="inputAdd">
                    <input type="number" id="unidades" name="unidades" placeholder="Unidades Disponibles"required min="0">
                    <span class="line"></span>
                </div>

                <div class="inputAdd">
                    <input type="text" id="foto" name="foto" placeholder="Foto" required>
                    <span class="line"></span>
                </div>

                <div class="button-container">
                    <button type="submit">Agregar producto</button>
                </div>
                
            </form>
        </div>


        <div class="imageAndMessage">

                <div class="slider-frame">
                    <ul>
                        <li><img src="/img/carro1.jpg" alt=""></li>
                        <li><img src="/img/carro2.jpg" alt=""></li>
                        <li><img src="/img/carro3.jpg" alt=""></li>
                        <li><img src="/img/carro4.jpg" alt=""></li>
                    </ul>
                </div>

                <div class="button-container2">
                    <a  onclick ="goBack()">Regresar</a>
                </div>

        </div>
    </div>
    <script>
        function goBack() {
            // Utiliza el método `history.back()` para regresar a la página anterior
            window.history.back();
        }
    </script>
</body>
