<link rel="stylesheet" href="/css/editProduct.css">

<div class="addProductDivPrincipal">
    <div class="formAddProduct">
        <h1>Editar rol del usuario {{user.username}}</h1>
        <form action="/master/user/gestionar/editar/{{user.id}}" method="post">
            <div class="inputAdd">
                <select class="marcaInput" name="name_role" id="name_role" >
                    <option>invitado</option>
                    <option>vendedor</option>
                    <option>admin</option>
                </select>
            </div>
            <div class="button-container">
                <button type="submit">Cambiar Rol</button>
            </div>
        </form>
    </div>
    <div class="imageAndMessage">

                <div class="slider-frame">
                    <ul>
                        <li><img src="/img/carro1.jpg" alt=""></li>
                        <li><img src="/img/carro2.jpg" alt=""></li>
                        <li><img src="/img/carro3.jpg" alt=""></li>
                        <li><img src="/img/carro4.jpg" alt=""></li>
                    </ul>
                </div>

                <div class="button-container2">
                    <a  onclick ="goBack()">Ver Productos</a>
                </div>

        </div>
    </div>
    <script>
        function goBack() {
            // Utiliza el método `history.back()` para regresar a la página anterior
            window.history.back();
        }
    </script>
    </div>
</div>