<link rel="stylesheet" href="/css/registrate.css">

<header class="header">
        <nav class="nav">
            <div class="logoDiv">
                <h1 class="logo">H&H</h1>
            </div>

            <div class="menu">
                <a href="">Acerca de la tienda</a>
            </div>
        </nav>
    </header>

    <section class="home">
        <div class="content">
            
            <h2>HARMONY & HEAVEN</h2>

            <pre class="pre"> Debes iniciar sesion para poder ingresar al inventario <p class="pre"> y recursos de la Tienda Web. </p>
        
        </div>
    
        <div class="login">
            
           <h2>REGISTRATE</h2>

            <br>
            <form action="/register/user" method="post">
            <div class="input">
                <i class="fa-solid fa-envelope"></i>
                <input type="text" class="input1" placeholder="Usuario"  name="username" id="username" required>
            </div>

            <div class="input">
                <i class="fa-solid fa-lock"></i>
                <input type="password" class="input1" placeholder="Contraseña" name="password" id="password" required>
            </div>

            <div class="input">
                <i class="fa-solid fa-lock"></i>
                <input type="password" class="input1" placeholder="Clave Permisos"   name="roles" id="roles" >
            </div>
<<<<<<< HEAD
            
            <div class="input">
                    <span>Acepto </span><a class="aRegister" href="#">Terminos y Condiciones</a>
                    <div class="checkbx">
                        <input type="checkbox" id="acceptTerms" required>
                    </div>
                    
                </div>

                <span class="span1">Ya tienes una cuenta </span><a class="aRegister" href="/">Inicia Sesión!</a>

                <div class="button">
                    <button class="btn" id="registerButton" disabled>Registrate</button>
=======

            <div class="tyc">
                                    <label>
                <input type="checkbox" name="terms" required>
                <a href="">Acepto los términos y condiciones</a>
                </label>  
            </div>


            <span>Ya tienes una cuenta </span><a  class="aRegister"href="/">Inicia Sesión!</a>
   
                <div class="button">
                    <button class="btn">Registrate</button>
>>>>>>> e9454f49d006fc7f5e5df640a47167d0b850fb65
                </div>
            </form>

            <script>
                const acceptTermsCheckbox = document.getElementById('acceptTerms');
                const registerButton = document.getElementById('registerButton');

                acceptTermsCheckbox.addEventListener('change', function() {
                    registerButton.disabled = !acceptTermsCheckbox.checked;
                });
            </script>
        <br><br><br><br>
        </div>
</section>