body{
    background-color: #f7f7f7;
}

::-webkit-scrollbar {
    display: none;
}

header{
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 70px;
    background-color: white;
    display: flex;
}

ul{
    list-style: none;
}

.titulo{
    width: 30%;
    height: auto;
}

.titulo a{
    
    text-decoration: none;
}


.title{
    padding: 15px;
    color: #734C29;
}


.options{
    width: 70%;
    height: auto;
}

.mainUsers{
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.leftSideUsers{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 30%;
    margin-left: 2%;
    margin-right: 2%;
    height: auto;
    background-color: white;
}

.leftSideUsers h1{
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-size: 23px;
    color: #734C29;
    font-weight: 600;
    text-align: center;

}
.tablaSide {
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.1);
    margin-left: 3%;
    width: 60%;
    margin-right: 3%;
    height: auto;
    background-color: white;
    margin-bottom: 30px;
}

.tablaSide th{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #734C29;
    font-weight: 600;
    border-bottom: 1px solid #492e16;
}

.tablaSide table{
    width: 100%;
    height: auto;

}

.tablaSide td{
    font-weight: 100;
    font-size: 15px;
    padding-top: 10px;
    color: #734C29;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #492e16;
}

.editBtn{
    border-radius: 10px;
    text-decoration: none;
    margin-left: 10%;
    background-color: rgb(197, 197, 43);
    font-size: 15px;
    padding-top: 5px;

    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

.editBtn:hover{
    transform: 103%;
    cursor: pointer;
    transition: 300ms;
    background-color: transparent;
    border: 1px solid rgb(197, 197, 43);
    color: rgb(197, 197, 43)
}

.deleteBtn{
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    text-decoration: none;
    margin-left: 10%;
    margin-left: 10%;
    background-color: rgb(185, 42, 42);
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

.imgUsuario{
    margin-bottom: 30px;
    background-position-x: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/img/usuario.png");
    width: 90%;
    margin-left: 5%;
    height: 250px;
}

.form{
    width: 100%;
    height: auto;
}

.form input{
    background-color: transparent;
    color: #734C29;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #734C29;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 10px;
    height: 25px;
}

.form input::placeholder{
    color: #734C29;
}

.form select{
    width: 70%;
    margin-left: 15%;
    margin-bottom: 10px;
    height: 25px;
    background: transparent;
    border: none;
    color: #734C29;
    border-bottom: 2px solid #734C29;
}



.form button {
    margin-top: 10px;
    cursor: pointer;
    border-radius: 25px;
    font-weight: 600;
    color: white;
    border: none;
    background-color: #734C29;
    width: 35%;
    margin-left: 32.5%;
    margin-bottom: 10px;
    height: 35px;
}

.form button:hover{
    border: 1px solid #734C29;
    transition: 300ms;
    color: #734C29;
    background-color: transparent;
}

.options ul {
    margin-right: 35px;
    list-style: none;
    padding: 0;
    text-align: right; /* Alinea el contenido al lado derecho */
}

.options ul li {
    display: inline-block;
}

.options ul li a {
    color: #734C29;
    display: block;
    text-decoration: none;
    position: relative; /* Añadida posición relativa para que el span sea relativo a este contenedor */
}

.options ul li a img {
    padding-top: 20px;
    margin-left: 40px;
    display: block;
    width: 25px;
    height: auto;
    margin-bottom: 5px;
    transition: transform 0.3s ease-in-out;
}

.options ul li a span {
    font-size: 13px;
    display: block; /* Cambia a bloque para que aparezca debajo de la imagen */
    white-space: nowrap;
    opacity: 0;
    position: absolute; /* Añadida posición absoluta para superponer el texto sobre la imagen */
    top: 110%; /* Ajusta la posición del texto debajo de la imagen */
    left: 0;
    width: 30px; /* Ajusta el ancho del span según sea necesario */
    text-align: center; /* Ajusta el texto al centro */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    z-index: 1; /* Coloca el texto encima de las imágenes */
}

.options ul li:hover a img {
    transform: translateY(-10px); /* Ajusta la cantidad de desplazamiento según sea necesario */
    z-index: 2; /* Asegura que la imagen en hover esté por encima de las demás */
}

.options ul li:hover a span {
    transform: translateX(0);
    opacity: 1;
}

