body {
    background-color: #f7f7f7;
}

header {
    width: 100%;
    height: 60px; /* Ajusta la altura según tus preferencias */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgb(221, 214, 199);
    display: flex;
    justify-content: space-between; /* Alinea los elementos a los extremos */
    align-items: center; /* Centra verticalmente los elementos */
    padding: 0 20px; /* Añade un poco de espacio interno */
}

.titulo a {
    text-decoration: none;
    color: inherit; /* Asegura que el color del texto sea heredado */
}

.titulo {
    width: 30%;
}

.title {
    padding: 10px;
    color: #734C29;
}

.options {
    margin-right: 2%;
    margin-top: 2%;
}

.options ul {
    margin: 0;
    list-style: none;
    display: flex;
}

.options ul li {
    padding-right: 30px;
    padding-bottom: 20px;
}

.options a {
    font-weight: 100;
    color: #734C29;
    text-decoration: none;
}

.mainUsers {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.leftSideUsers {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 30%;
    margin-left: 2%;
    margin-right: 2%;
    height: auto;
    background-color: white;
}

.leftSideUsers h1 {
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-size: 23px;
    color: #734C29;
    font-weight: 600;
    text-align: center;
}

.tablaSide {
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.1);
    margin-left: 3%;
    width: 60%;
    margin-right: 3%;
    height: auto;
    background-color: white;
    margin-bottom: 30px;
}

.tablaSide th {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #734C29;
    font-weight: 600;
    border-bottom: 1px solid #492e16;
}

.tablaSide table {
    width: 100%;
    height: auto;
}

.tablaSide td {
    font-weight: 100;
    font-size: 15px;
    padding-top: 10px;
    color: #734C29;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #492e16;
}

.editBtn,
.deleteBtn {
    border-radius: 10px;
    text-decoration: none;
    margin-left: 10px;
    font-size: 15px;
    padding: 5px 20px;
    color: white;
}

.editBtn {
    background-color: rgb(197, 197, 43);
}

.editBtn:hover {
    transform: scale(1.03);
    cursor: pointer;
    transition: 300ms;
    background-color: transparent;
    border: 1px solid rgb(197, 197, 43);
    color: rgb(197, 197, 43);
}

.deleteBtn {
    background-color: rgb(185, 42, 42);
}

.imgUsuario {
    margin-bottom: 30px;
    background-position-x: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/img/usuario.png");
    width: 90%;
    margin-left: 5%;
    height: 250px;
}

.form {
    width: 100%;
    height: auto;
}

.form input {
    background-color: transparent;
    color: #734C29;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #734C29;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 10px;
    height: 25px;
}

.form input::placeholder {
    color: #734C29;
}

.form select {
    width: 70%;
    margin-left: 15%;
    margin-bottom: 10px;
    height: 25px;
    background: transparent;
    border: none;
    color: #734C29;
    border-bottom: 2px solid #734C29;
}

.form button {
    margin-top: 10px;
    cursor: pointer;
    border-radius: 25px;
    font-weight: 600;
    color: white;
    border: none;
    background-color: #734C29;
    width: 35%;
    margin-left: 32.5%;
    margin-bottom: 10px;
    height: 35px;
}

.form button:hover {
    border: 1px solid #734C29;
    transition: 300ms;
    color: #734C29;
    background-color: transparent;
}
