::-webkit-scrollbar {
    display: none;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    background-color: white;
    z-index: 1000; /* Asegura que esté en la parte superior de otros elementos */
}

.body {
    margin-top: 70px; /* Ajusta según la altura de tu encabezado */
    background-color: #f7f7f7;
}

ul{
    list-style: none;
}


.titulo{
    width: 30%;
    height: auto;
}

.h2Titulo{
    padding-left: 73px;
    position: fixed;
    font-size: 18px;
    font-weight: 600;
    color: #734C29;
}

.header .titulo .title{
    padding-top: 12px;
    padding-left: 20px;
    color: #734C29;
}

.options{
    width: 70%;
    height: auto;
}
.body{
    width: 100%;
    height: auto;
}

.titulos{
    display: flex;
    width: 100%;
    height: 50px;
}

.tituloH2{
    width: 30%;
    height: auto;
}

.buscadorProducts{
    width: 100%;
    height: auto;
}

.buscadorProducts input{
    background-color: transparent;
    padding-left: 5px;
    width: 53%;
    margin-left: 30%;
    margin-top: 25px;
    border: none;
    border-bottom: 1px solid #734C29;
}

.buscadorProducts button{
    border-radius: 2px;
    cursor: pointer;
    background-color: #734C29;
    border: none;
    color: white;
    width: 11%;
    height: auto;
}

.buscadorProducts button:hover{
    background-color: transparent;
    color: #734C29;
    border: 1px solid #734C29;
    transition: 250ms;
}

.titulos h2{
    margin-top: 30px;
    font-size: 25px;
    font-weight: 300;
    color: #734C29;
    text-align: left;
    margin-left: 5%;
}

.main{
    margin-top: 20px; /* Igual al alto de tu header */
    display: flex;
    width: 100%;
    height: auto;
}

.listaOrganizacion {
    border-radius: 15px;
    margin-top: 90px;
    position: fixed;
    top: 89px;
    width: 17%;
    height: 250px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.listaOrganizacion h1{
    font-size: 17px;
    font-weight: 600;
    color: #753806;
}

.listaOrganizacion h2{
    margin-top: 7px;
    font-size: 15px;
    font-weight: 600;
    color: #734C29;
}

.titulos h2{
    top: 70px;
    width: 100%;

    padding-bottom: 5px;
    z-index: 1000;
}

.listadoDeProdu {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
    margin-left: 25%;
    margin-right: 2%;
    min-height: 656px;
}

.filtrarPrecio{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 5px;
}

.filtrarPrecio span{
    padding-left: 5px;
    padding-right: 5px;
}

.filtrarPrecio input{
    border: none;
    background-color: transparent;
    width: 45%;
    height: 20px;
    padding: 5px;
    color: #734C29;
    border-bottom: 1px solid #734C29;
}

.filtrarPrecio input::placeholder{
    color: #734C29;
}

.btnFiltrar{
    margin-top: 15px;
    width: 100%;
    height: auto;
}

.btnFiltrar button{
    border: none;
    cursor: pointer;
    color: white;
    background-color: #734C29;
    border-radius: 2px;
    width: 60%;
    height: 20px;
    margin-left: 20%;
}

.btnFiltrar button:hover{
    transition: 250ms;
    background-color: white;
    color: #734C29;
}


select{
    margin-top: 8px;
    color: #734C29;
    border-bottom: 1px solid #734C29;
    width: 98%;
    height: 20px;
    border: none;
}

.minimo{
    width: 25%;
    height: 20px;
}

.maximo{
    width: 25%;
    height: 20px;
}
.buscarBtn{
    margin-left: 5px;
    border: none;
    width: 20%;
    height: 20px;
    background-color: #734C29;
    color: white;
}
.productoCard{
    backdrop-filter: blur(70px);
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-left: 5%;
    width: 27%;
    height: auto;
    margin-bottom: 20px;
    height: 489px;
}

.productoCard .imgProduct{
    width: 100%;
    height: 250px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}

.productoCard .productModel{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #734C29;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
}

.productoCard  .productMarca{
    font-size: 17px;
    font-weight: 100;
    color: #734C29;
    text-align: center;
}

.productoCard .productPrice{
    font-size: 17px;
    font-weight: 600;
    color: #734C29;
    text-align: center;
}

.productoCard .productUnidades{
    font-size: 15px;
    font-weight: 600;
    color: #734C29;
    text-align: center;
}

.funciones{
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.edit{
    border-radius: 7px;
    font-weight: 100;
    text-decoration: none;
    color: white;
    font-size: 13px;
    margin-left: 7%;
    background-color: #33922c;
    padding: 3%;
}

.delete{
    border-radius: 7px;
    font-weight: 100;
    text-decoration: none;
    color: white;
    font-size: 13px;

    background-color: #921111;
    padding: 3%; 
}


.options ul {
    margin-right: 35px;
    list-style: none;
    padding: 0;
    text-align: right; /* Alinea el contenido al lado derecho */
}

.options ul li {
    display: inline-block;
}

.options ul li a {
    color: #734C29;
    display: block;
    text-decoration: none;
    position: relative; /* Añadida posición relativa para que el span sea relativo a este contenedor */
}

.options ul li a img {
    padding-top: 20px;
    margin-left: 40px;
    display: block;
    width: 25px;
    height: auto;
    margin-bottom: 5px;
    transition: transform 0.3s ease-in-out;
}

.options ul li a span {
    font-size: 13px;
    display: block; /* Cambia a bloque para que aparezca debajo de la imagen */
    white-space: nowrap;
    opacity: 0;
    position: absolute; /* Añadida posición absoluta para superponer el texto sobre la imagen */
    top: 110%; /* Ajusta la posición del texto debajo de la imagen */
    left: 0;
    width: 30px; /* Ajusta el ancho del span según sea necesario */
    text-align: center; /* Ajusta el texto al centro */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    z-index: 1; /* Coloca el texto encima de las imágenes */
}

.options ul li:hover a img {
    transform: translateY(-10px); /* Ajusta la cantidad de desplazamiento según sea necesario */
    z-index: 2; /* Asegura que la imagen en hover esté por encima de las demás */
}

.options ul li:hover a span {
    transform: translateX(0);
    opacity: 1;
}

