

.header{
    width: 100%;
    height: 60px;
    display: flex;
}

ul{
    list-style: none;
}


.titulo{
    width: 30%;
    height: auto;
}

.titulo a{
    text-decoration: none;
}

.h2Titulo{
    font-weight: 600;
}

.header .titulo .title{
    padding: 20px;
    color: #734C29;
}

.options{
    width: 70%;
    height: auto;
}

.options ul{
    display: flex;
    margin-left: 30%;
}

.options ul li {
    padding-top: 20px;
    text-align: end;
    padding-left: 5%;
}

.options a{
    font-weight: 100;
    color: #734C29;
    text-decoration: none;
}

/* Main de la vista */
.body{
    width: 100%;
    height: auto;
}

.titulos{
    width: 100%;
    height: 50px;
}

.titulos h2{
    margin-top: 30px;
    font-size: 25px;
    font-weight: 300;
    color: #734C29;
    text-align: left;
    margin-left: 5%;
}

.main{
    display: flex;
    width: 100%;
    height: auto;
}

.listaOrganizacion{
    width: 20%;
    height: 300px;
    margin-left: 5%;
    margin-right: 5%;
}

.listaOrganizacion h1{
    font-size: 17px;
    font-weight: 600;
    color: #753806;
}

.listaOrganizacion h2{
    margin-top: 7px;
    font-size: 15px;
    font-weight: 600;
    color: #734C29;
}

.listadoDeProdu{
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    height: auto;
    margin-right: 5%;
}

.filtrarPrecio{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 5px;
}

.filtrarPrecio span{
    padding-left: 5px;
    padding-right: 5px;
}

.filtrarPrecio input{
    border: 2px solid #734C29;
    background-color: transparent;
    width: 40%;
    height: 20px;
    padding: 5px;
    box-shadow: 0 0 2px 2px #734C29; 
    color: #734C29;
    border-radius: 20px;
    border: 1px solid #734C29;
}

.filtrarPrecio input::placeholder{
    color: #734C29;
}

.btnFiltrar{
    margin-top: 15px;
    width: 100%;
    height: auto;
}

.btnFiltrar button{
    border: none;
    cursor: pointer;
    color: white;
    background-color: #734C29;
    font-weight: 600;
    border-radius: 20px;
    width: 40%;
    height: 20px;
    margin-left: 10%;
    box-shadow: 0 0 2px 2px #734C29; 
}

.btnFiltrar button:hover{
    transition: 250ms;
    background-color: white;
    color: #734C29;
}
.body h2{
    padding-bottom: 5px;
}

select{
    box-shadow: 0 0 2px 2px #734C29; 
    color: #734C29;
    border-radius: 20px;
    border: 1px solid #734C29;
    width: 60%;
    height: 20px;
}

.minimo{
    width: 25%;
    height: 20px;
}

.maximo{
    width: 25%;
    height: 20px;
}
.buscarBtn{
    margin-left: 5px;
    border: none;
    width: 20%;
    height: 20px;
    background-color: #734C29;
    color: white;
}
.productoCard{
    backdrop-filter: blur(70px);
    border-radius: 30px;
    border: 5px solid rgba(178, 178, 178, 0.165);
    box-shadow: 0 0 50px rgba(232, 232, 232, 0.8);
    background-color: white;
    margin-left: 3%;
    width: 30%;
    height: 224px;
    margin-bottom: 20px;
}

.productoCard .imgProduct{
    width: 100%;
    height: 250px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}

.productoCard .productModel{
    padding-top: 30px;
    font-size: 25px;
    font-weight: 600;
    color: #734C29;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
}

.productoCard  .productMarca{
    padding-top: 10px;
    font-size: 17px;
    font-weight: 100;
    color: #734C29;
    text-align: center;
    padding-bottom: 10px;
}

.productoCard .productPrice{
    font-size: 17px;
    font-weight: 600;
    color: #734C29;
    text-align: center;
}

.productoCard .productUnidades{
    font-size: 15px;
    font-weight: 600;
    color: #734C29;
    text-align: center;
}

.funciones{
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.funciones a{
    font-size: 14px;
}
.edit{
    border-radius: 7px;
    font-weight: 100;
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-left: 26%;
    background-color: #33922c;
    padding: 3%;
}

.delete{
    border-radius: 7px;
    font-weight: 100;
    text-decoration: none;
    color: white;
    font-size: 13px;

    background-color: #921111;
    padding: 3%; 
}


.formAddProduct{
    margin-top: 20px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    padding: 3em 2em;
    color: white;
}

.inputForm{
    margin-top: 20px;
    display: grid;
 }

 .inputAdd input,
  .inputAdd select {
    padding: 10px;
    border: none;
    outline: none;
    background: none;
    border-radius: 0px;
    border-bottom: 1px solid #734C29;
    font-family: 'Poppins', sans-serif;
  }

  .inputAdd input{
    width: 95%;
  }
  
  .inputAdd input[type="number"] {
    appearance: textfield;
  }
  
  .inputAdd select {
    cursor: pointer;
    width: 100%;
  }
  
  .button-container {
    margin-top: 10px;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  
  .button-container button {
    width: 50%;
    height: 43px;
    margin-left: 20%;
    background-color: #5a3b1f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
