header{
    padding-top: 6px;
    width: 100%;
    height: 50px;
    background-color: white;
    border-bottom: 1px solid #bfbebe;
}

header a{
    font-size: 30px;
    padding: 15px;
    font-weight: 600;
    text-decoration: none;
    color: #734C29;
}

.mainPv{
    display: flex;
    width: 100%;
    height: 600px;
}

.leftSidePunto{
    width: 70%;
    height: 600px;
}

.listProductsPunto{
    margin-top: 40px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.productSellCard{
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 20%;
    height: 250px;
    background-color: #ececee;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.productSellCard button{
    cursor: pointer;
    border: none;
    margin-top: 3px;
    background-color: #734C29;
    color: white;
    border-radius: 2px;
    margin-left: 35%;
    width: 30%;
    height: 20px;
}

.productSellCard button:hover{
    transform: 110%;
    transition: 250ms;
    background-color: transparent;
    border: 1px solid #734C29;
    color: #734C29;
}

.productSellCard img{
    width: 100%;
    height: 165px;
}

.productSellCard h1{
    padding-top: 5px;
    font-size: 15px;
    text-align: center;
}

.productSellCard h2{
    padding-top: 3px;
    font-weight: 300;
    font-size: 13px;
    text-align: center;
    padding-bottom: 2px;
}

.productSellCard h3{
    font-weight: 100;
    font-size: 12px;
    text-align: center;
}

.buscador{
    margin-top: 10px;
    width: 70%;
    height: 40px;
    margin-left: 15%;
    margin-bottom: 20px;
}

.buscador input{
    padding: 5px;
    border-radius: 20px;
    border: 3px solid #734C29;
    background-color: transparent;
    margin-top: 5px;
    margin-left: 5%;
    width: 75%;
    height: 30px;
}

.buscador button{
    cursor: pointer;
    border-radius: 20px;
    border: none;
    background-color: #734C29;
    color: white;
    width: 15%;
    margin-left: 1%;
    height: 30px;
    font-size: 15px;
    font-weight: 500;
}

.buscador button:hover{
    transition: 250ms;
    color: #734C29;
    background-color: white;
    border: 2px solid #734C29;
}

.checkProducts{
    width: 30%;
    height: auto;
    background-color: #ececee;
}

.checkProducts .allProducts{
    width: 100%;
    height: 400px;
}

.checkProducts .totalPrice{
    width: 100%;
    height: 100px;
}

.pricefinal{
    padding-top: 15px;
    border-top: 1px solid #d6d6d8;
    width: 100%;
    height: auto;
    display: flex;
}

.pricefinal h2{
    font-size: 17px;
    padding-left: 10px;
    font-weight: 600;
}

.pricefinal h3{
    font-weight: 100;
    font-size: 25px;
    padding-left: 60%;
}

.btn-check{
    width: 100%;
    height: 93px;
}

.btn-check button{
    border-radius: 5px;
    color: white;
    border: none;
    background-color: #785ddc;
    margin-top: 7px;
    margin-left: 2.5%;
    width: 95%;
    height: 50px;
}

.product-name{
    font-weight: 700;
    padding-top: 3px;
}

.product-info{
    margin-top: 20px;
    width: 80%;
    height: auto;
    margin-left: 10%;
}