.mainDiv{
    padding-top: 50px;
    width: 100%;
    height: auto;
    display: flex;
}

.tituloTablaSegunElMes {
    margin-top: 20px;
    width: 100%;
    height: auto;
}

.tituloTablaSegunElMes h1{
    font-weight: 100;
    text-align: center;
}

.btn_anterior{
    display: flex;
    justify-content: space-around; /* Esto centrará los elementos con espacio alrededor */
    align-items: center;
    width: 10%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
}

.btn_anterior button{
    background-size: cover;
    cursor: pointer;
    border: none;
    background-image: url("/img/001-anterior.png");
    border-radius: 50%;
    width: 90%;
    height: 80px;
}



.tableVentas{
    width: 100%;
    height: auto;
    border-collapse: collapse;
}

.btn_siguiente{
    display: flex;
    justify-content: space-around; /* Esto centrará los elementos con espacio alrededor */
    align-items: center;
    width: 10%;
    height: auto;
    background-color: red;
    margin-left: 5%;
    margin-right: 5%;
}

/* Estilos del encabezado de la tabla */
.tableVentas th {
    background-color: #343a40; /* Color de fondo oscuro para el encabezado */
    color: #ffffff; /* Color del texto en el encabezado */
    padding: 10px;
}

/* Estilos de las celdas de la tabla */
.tableVentas td, .tableVentas th {
    border: 1px solid #dee2e6; /* Borde de las celdas */
    padding: 8px;
    text-align: left;
}

/* Estilos de las filas pares e impares para alternar colores */
.tableVentas tbody tr:nth-child(even) {
    background-color: #f8f9fa; /* Color de fondo para filas pares */
}

/* Resaltar la fila al pasar el ratón sobre ella */
.tableVentas tbody tr:hover {
    background-color: #e2e6ea; /* Cambia esto al color que desees para el resaltado de la fila al pasar el ratón */
}

/* Restaurar el fondo transparente de las celdas en la fila al pasar el ratón */
.tableVentas tbody tr:hover td {
    background-color: transparent;
}

/* Resaltar toda la columna al pasar el ratón sobre ella */
.tableVentas tbody tr:hover td:hover::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffcc; /* Cambia esto al color que desees para el resaltado de la columna */
    z-index: -1; /* Asegura que el fondo de la celda no cubra completamente la cruz */
}

/* Ajustes visuales adicionales para la cruz */
.tableVentas tbody tr:hover td:hover {
    position: relative;
    z-index: 1;
}

